In [1]:
# Import Libraries

import pickle
import json
import pandas as pd
import numpy as np

In [9]:
# Load All Files

with open('model_forest_tuning.pkl', 'rb') as file_model:
  model_forest = pickle.load(file_model)

with open('scaler.pkl', 'rb') as file_scaler:
  model_scaler = pickle.load(file_scaler)

with open('list_num_cols.txt', 'r') as file_num:
  list_num_cols = json.load(file_num)

In [171]:
## Data dummy
data_inf = {
    'v1': 525.333333,
    'v2': 195.066667,
    'v3': 591.866667,
    'v4': 382.733333,
    'v5': 478.600000,
    'v6': 180.466667, 
    'v7': 677.200000,
    'v8': 4850.600000    
}

data_inf = pd.DataFrame([data_inf])
data_inf

,v1,v2,v3,v4,v5,v6,v7,v8
0,525.333333,195.066667,591.866667,382.733333,478.6,180.466667,677.2,4850.6

In [172]:
data_inf_num = data_inf[list_num_cols]
data_inf_num

,v1,v2,v3,v4,v5,v6,v7,v8
0,525.333333,195.066667,591.866667,382.733333,478.6,180.466667,677.2,4850.6

In [173]:
data_inf_num_scaled = model_scaler.transform(data_inf_num)

In [174]:
data_inf_scaled = model_scaler.transform(data_inf_num)

In [175]:
y_pred_inf = model_forest.predict(data_inf_scaled)
y_pred_inf

array([5.02970833])